.area-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width:100%;
  height: 100%;
  gap: 2.5rem;
  padding: 2rem 3rem;
  background: var(--color-rosa1)
}

.area-left {
  /* margin: 2rem; */
  flex: 1;
  min-width: 260px;
  color: var(--color-fondo);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}


.area-right {
  /* margin: 2rem; */
  flex: 1;
  min-width: 320px;
  background: var(--color-fondo);
  border-radius: 12px;
  box-shadow: 0 2px 12px var(--color-sombra-area-bg);
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



@media (max-width: 900px) {
  .area-content {
    flex-direction: column;
    gap: 2rem;
  }
  .area-right {
    min-width: 0;
  }
}
