/* styles/layout.css */
.pagina-entrevista {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.pagina-entrevista aside {
  flex: 0 0 30vw;
  max-width: 40vw;
  height: 100%;
}

.pagina-entrevista main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}




