.footer {
  background: var(--color-verde3);
  padding: 2rem 1rem 1rem 1rem;
  color: var(--color-fondo);
  border-top: 2px solid var(--color-verde1);
}


.footer-bottom {
  text-align: center;
}
.footer-bottom p {
  color: var(--color-fondo);
  font-size: 1rem;
  margin: 0;
}



@media (max-width: 600px) {
  .footer {
    padding: 2rem 0.5rem 0.5rem 0.5rem;
  }
  .footer-content {
    gap: 1.2rem;
    padding: 0;
  }
  .footer-left,
  .footer-right {
    min-width: 100%;
    padding: 1rem 0.5rem;
    box-shadow: none;
    border-radius: 0;
  }
  .footer-right {
    padding: 1.2rem 0.7rem;
  }
  .footer-form-row {
    flex-direction: column;
    gap: 0.5rem;
  }
  .footer-social-icons {
    gap: 0.7rem;
  }
  .footer-img-icon {
    width: 36px;
    height: 36px;
  }
  .footer-bottom {
    padding-top: 0.7rem;
    font-size: 0.95rem;
  }
  #footer-preguntas-titulo {
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
  }
  .footer-pregunta {
    font-size: 1rem;
  }
  .footer-respuesta {
    font-size: 0.95rem;
  }
}