.footer-contact-btn {
  background: var(--color-fondo);
  color: var(--color-verde1);
  font-weight: 600;
  border: none;
  border-radius: 24px;
  padding: 0.7rem 2rem;
  font-size: 1.1rem;
  box-shadow: 0 2px 8px var(--color-sombra-footer);
  cursor: pointer;
  align-self: flex-start;
  margin-bottom: 1rem;
  transition: background 0.2s, color 0.2s;
}
.footer-contact-btn:hover {
  background: var(--color-rosa2);
  color: var(--color-fondo);
}

.footer-desc {
  font-size: 1.09rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
}
.footer-phone-row {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: var(--color-accent-yellow);
  font-weight: bold;
  font-size: 1.1rem;
}

.footer-social-title {
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--color-fondo);
}
.footer-social-icons {
  display:flex; 

  gap: 1.2rem;

}
.footer-icon {
  background: var(--color-transparente);
  box-shadow: none;
  width: auto;
  height: auto;
  padding: 0;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}
.footer-img-icon {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2px 8px var(--color-sombra-footer);
  transition: transform 0.2s, box-shadow 0.2s;
}

.footer-icon:hover .footer-img-icon {
  transform: scale(1.12);
  box-shadow: 0 4px 16px var(--color-sombra-footer-hover);
}
