#footer-preguntas-titulo{
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-fondo);
  margin-bottom: 1rem;
}


.footer-pregunta{
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.5rem;
  list-style-type: disc;
  text-decoration : none ;
  color: var(--color-amarillo1);
}


.footer-pregunta::marker{
  color: var(--color-fondo);
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-respuesta{
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-gris);
  margin-left: 1.2rem;
  margin-bottom: 0.5rem;

}

.footer-enlace-entrevista{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.footer-enlace-entrevista a{
  color: var(--color-accent-yellow);
  font-weight: bold;
  text-decoration: underline;
}