

.barra-lateral {
  flex: 0 0 30vw;
  max-width: 40vw;
  height: 100vh;
  background: var(--color-rosa1);
  color: var(--color-fondo);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
}
<<<<<<< HEAD
=======

.barra-lateral__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

>>>>>>> cca22c0dc88af46340194f8a1bc4eb32a7853512

.barra-lateral__aside {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barra-lateral__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.barra-lateral__logo {
  width: 420px;
  height: 420px;
  object-fit: contain;
  border-radius: 50%;
  background: var(--color-fondo);
  box-shadow: 0 4px 16px var(--color-fondo);
}

.barra-lateral__marca {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;

}

.barra-lateral__frase {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 0.5rem;
  line-height: 1.5;
  text-align: center;
}

@media (max-width: 900px) {


.barra-lateral {
    height: auto;
    min-height: auto;
    width: 100%;
    padding: 2rem 1rem 1rem 1rem;
    justify-content: flex-start;
  }

  .barra-lateral__logo {
    width: 200px;
    height: 200px;
    margin-bottom: 2rem;
  }
  .barra-lateral__marca {
    display: none;
  }
  .barra-lateral__frase {
    display: none;
  }

}